<html>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <nav style="background-color: #2f3640">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="/images/myntra.png" style="padding:10px;" ></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/category/display" target="mw">Category</a></li>
        <li><a href="/subcategory/" target="mw">Subcategory</a></li>
        <li><a href="/product/" target="mw">Product</a></li>
        <li><a href="collapsible.html"><i class="material-icons right">logout</i></a></li>
      </ul>
    </div>
  </nav>
  <iframe name="mw" style="height:92vh;width:99.5vw;overflow:hidden;" style="border:none;"></iframe>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
