<html>
  <!-- Compiled and minified CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll(".materialboxed");
      var instances = M.Materialbox.init(elems);
    });
    function showImage(event) {
      img.src=URL.createObjectURL(event.target.files[0])
      img.width=200
    }
  </script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <style>
    .maincontainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100vw;
      background-color: #2f3640;
    }
    .subcontainer {
      width: 50%;
      background-color: #dcdde1;
      border-radius: 10px;
      padding: 10px;
    }
    .heading {
      font-size: 30px;
      text-align: center;
      font-weight: bold;
      color: #2f3640;
    }
  </style>
  <body style="margin: 0px">
    <div class="maincontainer">
      <div class="subcontainer">
        <div class="heading">Category Interface</div>
        <form
          action="/category/submit"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="row">
            <div class="input-field col s12">
              <input
                id="categoryname"
                name="categoryname"
                type="text"
                class="validate"
              />
              <label for="categoryname">Category Name</label>
            </div>
          </div>

          <div class="row">
            <div class="file-field input-field col s6">
              <div class="btn">
                <span>File</span>
                <input type="file" name="picture" onchange="showImage(event)"/>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" />
              </div>
            </div>
            <div class="col s6">
              <img id="img" class="materialboxed" />
            </div>
          </div>

          <div class="row">
            <div class="col s6 center">
              <button
                class="btn waves-effect waves-light"
                type="submit"
                name="action"
              >
                Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
            <div class="col s6 center">
              <button
                class="btn waves-effect waves-light"
                type="reset"
                name="action"
              >
                Reset
                <i class="material-icons right">clear</i>
              </button>
            </div>
            <div class="center"><%=msg%></div>
          </div>
        </form>
      </div>
    </div>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
