<html>
  <!-- Compiled and minified CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <!-- Cnompiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $.getJSON("/category/displayJSON", { ajax: true }, function (result) {
        console.log(result);
        if (result.status) {
          result.data.forEach((item, index) => {
            $("#categoryid").append(
              $("<option>").text(item.categoryname).val(item.categoryid)
            );
          });
          $("select").formSelect();
        }
      });
    });
  </script>
  
  <script>
    $(document).ready(function () {
      $("select").formSelect();
    });
  </script>

  <style>
    .maincontainer {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #2f3640;
      height: 100vh;
      width: 100vw;
    }
    .subcontainer {
      background-color: #dcdde1;
      border-radius: 10px;
      width: 50%;
    }
    .heading {
      font-weight: bold;
      color: "#2f3640";
      font-size: 30px;
      text-align: center;
    }
    .msgStyle {
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
    }
  </style>
  <div class="maincontainer">
    <div class="subcontainer">
      <form
        action="/subcategory/add"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="heading">Subcategory interface</div>
        <div class="row">
          <div class="input-field col s12">
            <select id="categoryid" name="categoryid">
              <option value="" disabled selected>Choose your option</option>
            </select>
            <label>Category</label>
          </div>

          <div class="input-field col s12">
            <input
              id="subcategoryname"
              name="subcategoryname"
              type="text"
              class="validate"
            />
            <label for="subcategoryname">Subcategory Name</label>
          </div>
          <div class="input-field col s12">
            <textarea
              id="description"
              name="description"
              class="materialize-textarea"
            ></textarea>
            <label for="description">Description</label>
          </div>
          <div class="input-field col s12">
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input id="file" type="file" name="picture" />
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" />
              </div>
            </div>
          </div>
          <div class="input-field col s6">
            <label>
              <input name="status" type="radio" value="available" />
              <span>Available</span>
            </label>
          </div>
          <div class="input-field col s6">
            <label>
              <input name="status" type="radio" value="not available" />
              <span>Not Available</span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 center">
            <button
              class="btn waves-effect waves-light"
              type="submit"
              name="action"
            >
              Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
          <div class="input-field col s6 center">
            <button
              class="btn waves-effect waves-light"
              type="reset"
              name="action"
            >
              Reset
              <i class="material-icons right">clear</i>
            </button>
          </div>
        </div>
      </form>
      <div class="msgStyle" style="margin-bottom: 10px"><%=mesg%></div>
    </div>
  </div>

  <!-- Compiled and minified CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />

  <!-- Compiled and minified JavaScript -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
